<div class="containner" >
  <h3>予定の新規追加</h3>

  <%= render "layouts/datepicker" %>
  <%= render "shared/error", obj: @task %>
  
  <div class="main_content">
    <%= form_with model: @task do |f| %>
      <table>
        <tr>
          <th><%= f.label :title, "タイトル" %></th>
          <td><%= f.text_field :title %></td>
        </tr>

        <tr>
          <th><%= f.label :title, "開始日" %></th>
          <td><%= f.date_field :start_day %></td>
        </tr>

        <tr>
          <th><%= f.label :title, "終了日" %></th>
          <td><%= f.date_field :end_day %></td>
        </tr>

        <tr>
          <th><%= f.label :title, "終日" %></th>
          <td><%= f.check_box :all_day  %>  終日の場合はチェック</td>
        </tr>

        <tr>
          <th><%= f.label :description, "スケジュールメモ" %></th>
          <td><%= f.text_area :description %></td>
        </tr>

      </table>
      <div class="select_button">
          <%= link_to "タスク一覧に戻る", :tasks, class: "btn btn-secondary btn-lg" %>
          <%= f.submit"登録", class: "btn btn-success btn-lg" %>
      </div>
    <% end %>
  </div>
</div>