<h3>予定の新規追加</h3>

<%= form_with model: @task do |f| %>
    <table>
        <tr>
          <th><%= f.label :title, "タイトル" %></th>
          <td><%= f.text_field :title %></td>
        </tr>

        <tr>
          <th><%= f.label :title, "開始日" %></th>
          <td><%= f.text_field :start_day %></td>
        </tr>

        <tr>
          <th><%= f.label :title, "終了日" %></th>
          <td><%= f.text_field :end_day %></td>
        </tr>

        <tr>
          <th><%= f.label :title, "終日" %></th>
          <td><%= f.check_box :all_day  %></td>
        </tr>

        <tr>
          <th><%= f.label :description, "スケジュールメモ" %></th>
          <td><%= f.text_area :description %></td>
        </tr>

    </table>

    <script>
        $('#start_day').datepicker();
    </script>

    <%= f.submit"登録" %>
    <%= link_to "タスク一覧に戻る", :tasks %>
<% end %>